body {
    background-color: darkseagreen;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.entrar {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 50px;
    width: 200px;
    height: 150px;
    margin: auto;
}

.botao {
    color: black;
    text-decoration: none;
}
